@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* .navbar-enterprise{
    background-color: red!important;
}

.navbar-intern{
    background-color: green!important;

}
.navbar-coordinator{
    background-color: blue!important;
}

.navbar-default{
    background-color: palegreen;
} */